.navbar {
    border-bottom: 2px solid rgb(102, 217, 239);
}

.input-range__slider,
.input-range__track--active {
    background: rgb(102, 217, 239) !important;
    border: 1px solid rgb(102, 217, 239) !important;
}

.input-range__label {
    color: rgb(102, 217, 239) !important;
    font-family: "Lato" !important;
    margin: 3px 0;
}
