.table-responsive {
    height: calc(100vh - 55px);
}

.modal {
    font-size: 12px;

    span {
        // color: black;

    }
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    width: 100%;
    padding: 10px 5px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.popup-overlay>.popup-content {
    background: transparent !important;
    border: 0 !important;
}

.popup-content {
    font-size: 20px;
    max-height: 90vh;
    overflow: auto;
}

.previewIcon {
    padding: 5px;

    &:hover {
        cursor: pointer;
    }
}

//TO DO remove important, use styles from documention JSONTree
td>ul {
    margin: 0px !important;
    background-color: transparent !important;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow-y: scroll;
    height: calc(100vh - 59px);
}

// .table-scroll th,
// .table-scroll td {
//     border: 1px solid #000;
// }

.table-scroll thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th {
    position: -webkit-sticky;
    position: sticky;
}

@media only screen and (max-width: 1024px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    // #no-more-tables tr {
    //     border: 1px solid #ccc;
    // }

    #no-more-tables td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid rgba(238, 238, 238, 0.075);
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #no-more-tables td:last-child {
        border-bottom: 2px solid rgb(102, 217, 239);
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        color: rgb(102, 217, 239);
    }

    /*
    Label the data
    */
    #no-more-tables td:before {
        content: attr(data-title);
    }
}