$body-bg: #282c34;
$font-size-base: 0.8125rem;
$font-family-base: "Lato";
$theme-colors: (primary: rgb(102, 217, 239));
$table-dark-color: rgb(166, 226, 46);
$table-dark-bg: rgb(40, 44, 52);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
@import "~react-input-range/lib/css/index.css";

.container-fluid {
    padding: 0px;
}

.table-dark thead th {
    background-color: #282c34;
    color: rgb(102, 217, 239);
    z-index: 900;
}

.fullHeight {
    height: calc(100vh - 55px);
}

.chartjs-size-monitor {
    height: 200px;
}
